.inputform h1 {
    width: 250px;
    border-bottom: 2px solid gray;
}

.inputform {
    display: inline-block;
    width: 300px;
    height: auto;
    vertical-align: top;
}

.displays {
    width: 530px;
    height: auto;
    background: gainsboro;
    border: 1px solid dimgray;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.card {
    width: 250px;
    height: 120px;
    background: rgb(192, 196, 255);
    border: 1px solid red;
    text-align: center;
    margin: 0 10px 10px 0;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}